:root{
    --product: #04aaff;
}

body{
    height: 100vh;
}

.products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    gap: 2rem;
    grid-row: 1/3;
}

.product{
    background-color: white;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    border-radius: 10px;
    border-left: 10px solid var(--product);
    box-shadow: 3px 3px 5px rgb(0 0 0 / 0.2);
    transition: 300ms;
}

.product:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 8px rgb(0 0 0 / 0.4);
}

.product .product-content{
    display: flex;
    flex-direction: column;
    color: #87817c;
}